@model WebAppKundeProdukt.Models.Kunde

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kunde</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vorname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vorname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nachname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nachname)
        </dd>
    </dl>
</div>
<a asp-controller="Warenkorbpositionen" asp-action="Create">Create New Warenkorbposition</a>
<table class="table">
    <thead>
        <tr>
            <th>
                Produkt
            </th>
            <th class="ta-r">
                Menge
            </th>
            <th class="ta-r">
                Einzepreis
            </th>
            <th class="ta-r">
                Gesamtpreis
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Warenkorbpositionen)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Produkt.Beschreibung)
                </td>
                <td class="ta-r">
                    @Html.DisplayFor(modelItem => item.Menge)
                </td>
                <td class="ta-r">
                    @Html.DisplayFor(modelItem => item.Produkt.Preis)
                </td>
                <td class="ta-r">
                    @Html.DisplayFor(modelItem => item.Gesamtpreis)
                </td>
                <td>
                    <a asp-controller="Warenkorbpositionen" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="Warenkorbpositionen" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-controller="Warenkorbpositionen" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
        <tr>
            <th>
                Endpreis
            </th>
            <th>
            </th>
            <th>
            </th>
            <th class="ta-r">
                @Html.DisplayFor(model => model.Endpreis)
            </th>
        </tr>
    </tbody>
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
